@page
@model ChocolateyAppMaker.Pages.Account.AccessDeniedModel
@{
    // Этот код скорее всего не выполнится из-за редиректа в OnGet,
    // но оставим на всякий случай
    ViewData["Title"] = "Access Denied";
}
<h1>Доступ запрещен</h1>